"""配置文件"""
c.Dazer.train_file = r'E:\项目\天池比赛\零样本目标检测\data\scale_data\norm_data\scale_data_train.csv'
c.Dazer.all_labels = 'very negative,negative,neutral,positive,very positive'
c.Dazer.train_labels = 'negative,neutral,positive,very positive'
c.Dazer.test_file = r'E:\项目\天池比赛\零样本目标检测\data\scale_data\norm_data\scale_data_test.csv' # r'E:\项目\天池比赛\零样本目标检测\data\scale_data\norm_data\scale_data_train.csv' # r'E:\项目\天池比赛\零样本目标检测\data\scale_data\norm_data\scale_data_test.csv'

c.Dazer.ckpt_path = r'E:\data\dazer\{}\{}\ckpt\dazer.ckpt'  # ｛｝是在运行时进行填充
c.Dazer.test_result_file = r'E:\data\dazer\{}\{}\result.csv'  # ｛｝是在运行时进行填充  r'E:\project\poc\DAZER\result.csv'
c.Dazer.summary_path = r'E:\data\dazer\{}\{}\summary'  # ｛｝是在运行时进行填充

c.Dazer.emb_file = r'E:\项目\天池比赛\零样本目标检测\glove.6B\glove.6B.50d.txt'
c.Dazer.vocabulary_size=400000
c.Dazer.embedding_size=50

c.Dazer.kernal_num=50
c.Dazer.kernal_width=5

c.Dazer.max_epochs=80
c.Dazer.batch_size=20
c.Dazer.load_model=False

c.Dazer.max_pooling_num=3
c.Dazer.decoder_mlp1_num=75

c.Dazer.regular_term=0.0001  # 正则项系数
c.Dazer.adv_learning_rate=0.001
c.Dazer.epsilon=0.0001 # 0.0001 1e-8
c.Dazer.model_learning_rate=0.001
c.Dazer.adv_loss_term=0.1

